<template>
  <div class="chamados">
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <strong>Mobile Saúde</strong> :: Ordem de Serviço
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--        <li><a href="#">Login</a></li>-->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
              <a href="#">
                Chamados
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Chamados</h1>

          <div class="row call-search">
            <div class="col-xs-12 col-md-2">
              <div class="input-group">
                <button class="btn btn-primary" @click="abrirModal()">
                  Novo
                  <i class="glyphicon glyphicon-plus"></i>
                </button>
              </div>
            </div>
            <div class="col-xs-12 col-md-offset-2 col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" v-model="pesquisa" placeholder="Pesquise por um chamado..." />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" @click="listarChamados()">Pesquisar</button>
                </span>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Número chamado</th>
                  <th>ID paciente</th>
                  <th>Nome paciente</th>
                  <th>Motivo</th>
                  <th>Descrição</th>
                  <th>Data</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="chamado of chamados" :key="chamado._id">
                  <td>{{ chamado._source.numero_chamado }}</td>
                  <td>{{ chamado._source.id_paciente }}</td>
                  <td>{{ chamado._source.nome_paciente }}</td>
                  <td>
                    {{ 
                        motivos
                          .find(function(motivo) { return motivo.id_motivo === chamado._source.id_motivo }).descricao
                    }}
                  </td>
                  <td style="max-width: 90px;">{{ chamado._source.descricao }}</td>
                  <td>{{ chamado._source.data_criacao }}</td>
                  <td>{{ chamado._source.status }}</td>
                  <td>
                    <a href @click.prevent="editarChamado(chamado)">EDITAR</a> /
                    <a href @click.prevent="visualizarChamado(chamado)">DETALHES</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li v-if="paginacao.show_start_button">
                    <a href="#" @click.prevent="listarChamados(paginacao.previous_page)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li 
                    v-for="(pagina, index) in paginacao.last_page" 
                    :key="index" 
                    :class="{active: paginacao.current_page === pagina}">
                    <a href="#" @click.prevent="listarChamados(pagina)">{{ pagina }}</a>
                  </li>
                  <li v-if="paginacao.show_end_button">
                    <a href="#" @click.prevent="listarChamados(paginacao.next_page)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <modal v-if="exibirModal">
        <h5 slot="header" class="modal-title">Novo Chamado</h5>
        <div slot="body">
            <div v-if="erros.length > 0" class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li v-for="(erro, index) of erros" :key="index">
                                O campo <strong>{{ erro.campo }}</strong> - {{ erro.mensagem }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="select-paciente">Paciente</label>
                  <select
                    id="select-paciente"
                    class="form-control"
                    style="width: 100%;"
                    name="id_paciente"
                    v-model="chamado.id_paciente"
                    :disabled="apenasVisualizar"
                  >
                    <option value></option>
                    <option
                      v-for="paciente of pacientes"
                      :key="paciente.id"
                      :value="parseInt(paciente.id)"
                    >{{ paciente.nome }}</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="select-motivo">Motivo</label>
                  <select
                    id="select-motivo"
                    class="form-control"
                    style="width: 100%;"
                    name="id_motivo"
                    v-model="chamado.id_motivo"
                    :disabled="apenasVisualizar"
                  >
                    <option
                      v-for="motivo of motivos"
                      :key="motivo.id"
                      :value="motivo.id_motivo"
                    >{{ motivo.descricao }}</option>
                  </select>
                </div>
                <!-- /.form-group -->
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="select-motivo">Descrição</label>
                  <textarea
                    id="descricao"
                    class="form-control"
                    name="descricao"
                    v-model="chamado.descricao"
                    :disabled="apenasVisualizar"
                  ></textarea>
                </div>
                <!-- /.form-group -->
              </div>
            </div>
        </div>
        <div slot="footer">
          <button type="button" class="btn btn-secondary" @click="fecharModal">Fechar</button>
          <button
            v-if="botaoAdicionar && !apenasVisualizar"
            @click="salvarChamado"
            id="salvar-modal"
            type="button"
            class="btn btn-primary">Adicionar Chamado</button>
            <button
              v-if="!botaoAdicionar && !apenasVisualizar"
              @click="salvarChamado"
              id="atualizar-modal"
              type="button"
              class="btn btn-primary">Atualizar Chamado</button>
        </div>
    </modal>
  </div>
</template>

<script>
import ChamadoService from '../services/chamados'
import PacienteService from '../services/pacientes'
import MotivoService from '../services/motivos'
import Modal from './Modal'

export default {
  name: 'Chamado',
  components: {
    Modal
  },
  data() {
      return {
          exibirModal: false ,
          botaoAdicionar: true,
          apenasVisualizar: false,
          pesquisa: '',
          paginacao: {},
          chamado: {
              _id: '',
              id_paciente: '',
              id_motivo: '',
              descricao: ''
          },
          chamados: [],
          pacientes: [],
          motivos: [],
          erros: []
      }
  },

  mounted() {    
    PacienteService.listar()
        .then(({data}) => {
            this.pacientes = data.response
        })
    MotivoService.listar()
        .then(({data}) => {
            this.motivos = data.response
            this.listarChamados()
        })
  },

  methods: {

      abrirModal() {
        this.exibirModal = true
      },

      fecharModal() {
        this.limparModal()
        this.botaoAdicionar = true
        this.exibirModal = false
        this.apenasVisualizar = false
      },

      listarChamados(pagina = 1) {
          ChamadoService.listar(this.pesquisa, pagina)
            .then(({data}) => {
                this.chamados = data.response.data
                this.paginacao = data.response.pagination
            })
      },

      salvarChamado() {

          if(!this.validaFormularioVazio())
            return

          if (!this.chamado._id) {
            delete this.chamado._id
            ChamadoService.salvar(this.chamado).then(() => {
              this.$swal("Chamado registrado com sucesso!", '', "success")
              this.fecharModal()
              this.listarChamados()
            }).catch(e => {
                console.log(e)
            })
          } else {
            ChamadoService.atualizar(this.chamado._id, {
              id_paciente: this.chamado.id_paciente,
              id_motivo: this.chamado.id_motivo,
              descricao: this.chamado.descricao,
            })
              .then(() => {
                this.$swal("Chamado atualizado com sucesso!", '', "success")
                this.fecharModal()
                this.listarChamados()
              })
              .catch(e => {
                console.log(e)
              })
          }
      },

      editarChamado (chamado) {
        this.chamado = {
          _id: chamado._id,
          id_paciente: chamado._source.id_paciente,
          id_motivo: chamado._source.id_motivo,
          descricao: chamado._source.descricao
        }
        this.botaoAdicionar = false
        this.abrirModal()
      },

      visualizarChamado(chamado) {
        this.chamado = {
          _id: chamado._id,
          id_paciente: chamado._source.id_paciente,
          id_motivo: chamado._source.id_motivo,
          descricao: chamado._source.descricao
        }
        this.apenasVisualizar = true
        this.abrirModal()
      },

      limparModal() {
          this.chamado = {
              id_paciente: '',
              id_motivo: '',
              descricao: ''
          }
      },

      validaFormularioVazio() {
            this.erros = [];

            if(!this.chamado.id_paciente || !this.chamado.id_paciente === '')
                this.erros.push({campo: "paciente", mensagem: "não pode ser vazio"})

            if(!this.chamado.id_motivo || !this.chamado.id_motivo === '')
                this.erros.push({campo: "motivo", mensagem: "não pode ser vazio"})

            if(!this.chamado.descricao || !this.chamado.descricao === '')
                this.erros.push({campo: "descrição", mensagem: "não pode ser vazio"})

            return this.erros.length > 0 ? false : true;
      }
  }
}
</script>

<style scoped>
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  /*
     * Top navigation
     * Hide default border to remove 1px line.
     */
  .navbar {
    background-color: #1e88e5;
  }
  
  .navbar a {
    color: #ffffff;
  }
  
  .navbar-fixed-top {
    border: 0;
  }
  
  /*
     * Sidebar
     */
  
  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }
  
  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #56c2d6;
  }
  
  .call-search {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .call-search .btn {
    background-color: #1e88e5;
    color: #ffffff;
  }
  
  .pagination > .active > a {
    background-color: #1e88e5;
    border-color: #1e88e5;
  }
  
  /*
     * Main content
     */
  
  .main {
    padding: 20px;
  }
  
  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .placeholders h4 {
    margin-bottom: 0;
  }
  
  .placeholder {
    margin-bottom: 20px;
  }
  
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }
  
  .call-quantity {
    font-size: 70px;
    font-weight: 600;
  }
  
  .call-open-today {
    color: #1e88e5;
  }
  
  .call-open {
    color: #e94d6a;
  }
  
  .call-progress {
    color: #7463ee;
  }
  
  .call-closed-today {
    color: #f6b12a;
  }
  
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  
  .main .page-header {
    margin-top: 0;
  }
</style>