<template>
  <div id="app">
    <Chamado></Chamado>
  </div>
</template>

<script>
import Chamado from './components/Chamado.vue'

export default {
  name: 'App',
  components: {
    Chamado
  }
}
</script>

<style>
body {
  padding-top: 50px;
  color: #466478;
}
</style>
