.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
  background-color: #1E88E5;
}

.navbar a {
  color: #FFFFFF;
}

.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #56C2D6;
}

.call-search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.call-search .btn {
  background-color: #1E88E5;
  color: #ffffff;
}

.pagination > .active > a {
  background-color: #1E88E5;
  border-color: #1E88E5;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.call-quantity {
  font-size: 70px;
  font-weight: 600;
}

.call-open-today {
  color: #1E88E5;
}

.call-open {
  color: #E94D6A;
}

.call-progress {
  color: #7463EE;
}

.call-closed-today {
  color: #F6B12A;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}
